div {
    margin: 0;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer > p {
    margin: .5em 20em;
}
nav {
    margin: 0;
}
nav > div {
    margin: 0 20em;
}
.container {
}
#pageContent {
    margin: 2.5em 20em;
}
